@font-face {
    font-family: 'Bagnard';
    src: url('/fonts/Bagnard/Bagnard.woff2') format('woff2'),
        url('/fonts/Bagnard/Bagnard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

